[Unit]
Description=ARIA-AT SSL Certificate Renewal Service
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --no-self-upgrade --force-renewal --deploy-hook "/bin/systemctl restart nginx"
KillMode=control-group

[Install]
WantedBy=multi-user.target