[Unit]
Description=Aria-AT Report server
Wants=network.target
After=network.target

[Service]
Type=simple
Environment=DOTENV_CONFIG_PATH={{environment_config.dest}}
WorkingDirectory={{source_dir}}
ExecStart=/usr/bin/node -r dotenv/config index.js
Restart=always
User={{application_user}}

[Install]
WantedBy=multi-user.target
