th.styled-header {
  background: var(--bg-table-headings);
  padding: 0 !important;
  height: 100%;
}

button.header-button {
  display: flex;
  align-items: flex-end;
  background: transparent;
  border: none;
  color: var(--font-black);
  font-size: 1rem;
  font-weight: var(--font-weight-heavy);
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0;
  margin: 0;

  &:hover,
  &:focus {
    color: var(--font-primary);
    background-color: var(--bs-table-hover-bg);
  }
}

.inactive {
  color: var(--disabled-color);
}
