@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,800;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    /* Parent should use the posted message and set an explicit height */
    overflow: hidden;
  }
  
  #main {
    width: 100%;
  }
  
  a {
    color: #036;
  }
  a:focus-visible {
    outline: 2px solid #3a86d1;
  }
  
  h3#report-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  #copied-message {
    align-self: center;
  }
  
  #at-version {
    font-weight: lighter;
  }
  
  #no-data-content-container {
    border-left: 1.5px solid #c0c0c0;
    border-right: 1.5px solid #c0c0c0;
    border-bottom: 1.5px solid #c0c0c0;
    background-color: #c0c0c0;
    padding: 1em 0.5em 0.5em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 1em;
    text-align: center;
  }
  
  #embed-report-phase-container {
    margin-bottom: 1em;
  }
  #embed-report-phase-container summary:focus-visible {
    outline-offset: -2px;
    outline: 2px solid #3a86d1;
  }
  
  #embed-report-phase-container summary::after {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: block;
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0.5em;
    top: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6.861' viewBox='0 0 12 6.861'%3E%3Cpath id='Icon_ionic-ios-arrow-down' data-name='Icon ionic-ios-arrow-down' d='M12.19,16.039,16.727,11.5a.854.854,0,0,1,1.211,0,.865.865,0,0,1,0,1.215L12.8,17.858a.856.856,0,0,1-1.183.025L6.438,12.717A.858.858,0,1,1,7.649,11.5Z' transform='translate(18.188 18.108) rotate(180)' fill='%2360470c'/%3E%3C/svg%3E%0A");
    background-color: #fce1a4;
    transform: rotate(180deg);
  }
  
  #embed-report-phase-container[open] summary::after {
    transform: rotate(0deg);
  }

/* section: CANDIDATE WARNING STYLING */
#embed-report-phase-container > summary {
    display: block;
  }

#candidate-title {
    background-color: #fcebc3;
    border: 1.5px solid #fce1a4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0.5em 0.5em 0.5em 1em;
    cursor: pointer;
    --space-between-elements: 1em;
    --left-right-padding: 55px;
}

#candidate-title > span {
    position: relative;
    padding-left: var(--left-right-padding);
    padding-right: var(--left-right-padding);
}

#candidate-title > span > h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #60470c;
    display: inline-block;
}

#candidate-content-container {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em 0.5em 0.5em 1em;
    font-family: Noto Sans, Trebuchet MS, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
    color: #60470c;
    background-color: #fdefce;
    border-left: 1px solid #fce1a4;
    border-right: 1px solid #fce1a4;
    border-bottom: 1px solid #fce1a4;
}

#candidate-content-container > ol > li:not(:last-child) {
    margin-bottom: 3px;
}

#candidate-title > ::before {
    width: 32px;
    height: 32px;
    display: block;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: -7px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' viewBox='0 0 30 31'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-11 -292)'%3E%3Cellipse id='Ellipse_1' data-name='Ellipse 1' cx='15' cy='15.5' rx='15' ry='15.5' transform='translate(11 292)' fill='%23d9ae4d'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M4.524-17.368a4.507,4.507,0,0,0-1.56.312.278.278,0,0,0-.13.286V-14.9c0,2.184.416,8.294.468,9.022a.172.172,0,0,0,.182.156h2.08c.156,0,.182-.078.182-.156.078-.78.52-6.916.52-9.1v-1.872a.326.326,0,0,0-.156-.286A5.112,5.112,0,0,0,4.524-17.368Zm0,17.576A1.7,1.7,0,0,0,6.4-1.534,1.741,1.741,0,0,0,4.524-3.328,1.77,1.77,0,0,0,2.652-1.534,1.7,1.7,0,0,0,4.524.208Z' transform='translate(22 316)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#embed-report-phase-container-recommended {
    margin-bottom: 1em;
}

#embed-report-phase-container-recommended summary:focus-visible {
    outline-offset: -2px;
    outline: 2px solid #3a86d1;
}

#candidate-title-recommended > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 8px 14px;
    border-radius: 15px;
    display: inline-block;
}

#candidate-title-recommended {
    border: 1.5px solid #7ac498;
    background-color: #e9fbe9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0.5em 0.5em 0.5em 1em;
    cursor: pointer;
    --space-between-elements: 1em;
    --left-right-padding: 55px;
}

#candidate-title-recommended > span {
    background-color: #115b11;
}

#candidate-content-container-recommended {
    border-left: 1.5px solid #c0c0c0;
    border-right: 1.5px solid #c0c0c0;
    border-bottom: 1.5px solid #c0c0c0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em 0.5em 0.5em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#candidate-content-container-recommended > ol > li:not(:last-child) {
    margin-bottom: 3px;
  }
  
  #candidate-title > ::before {
    width: 32px;
    height: 32px;
    display: block;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: -7px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' viewBox='0 0 30 31'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-11 -292)'%3E%3Cellipse id='Ellipse_1' data-name='Ellipse 1' cx='15' cy='15.5' rx='15' ry='15.5' transform='translate(11 292)' fill='%23d9ae4d'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M4.524-17.368a4.507,4.507,0,0,0-1.56.312.278.278,0,0,0-.13.286V-14.9c0,2.184.416,8.294.468,9.022a.172.172,0,0,0,.182.156h2.08c.156,0,.182-.078.182-.156.078-.78.52-6.916.52-9.1v-1.872a.326.326,0,0,0-.156-.286A5.112,5.112,0,0,0,4.524-17.368Zm0,17.576A1.7,1.7,0,0,0,6.4-1.534,1.741,1.741,0,0,0,4.524-3.328,1.77,1.77,0,0,0,2.652-1.534,1.7,1.7,0,0,0,4.524.208Z' transform='translate(22 316)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  
  .no-data-cell {
    display: block;
    color: #72777f;
    font-style: italic;
    text-align: center;
  }
  
  .responsive-table {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 1em;
  }
  
  table {
    border-collapse: collapse;
    border-top: 1.5px solid #c0c0c0;
    width: 100%;
  }
  
  table td,
  th {
    padding: 1rem;
    border: 1.5px solid #c0c0c0;
  }
  
  th,
  td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border: 1.5px solid #c0c0c0;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  table tbody tr th {
    text-align: left;
  }
  
  table tbody tr td {
    padding: 20px;
    text-align: center;
  }
  
  .meter {
    box-sizing: content-box;
    height: 15px; /* Can be anything */
    position: relative;
    background: #c0c0c0;
    border-radius: 25px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .meter > span {
    display: block;
    height: 100%;
    float: left;
    background-color: #175a6a;
    border-radius: 25px;
    position: relative;
  }
  
  .button {
    border: none;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid #175a6a;
  }
  
  #view-report-button {
    color: white;
    background-color: #175a6a;
    margin-right: 6px;
  }
  #view-report-button:hover {
    background-color: #024e5c;
    border-color: #024e5c;
  }
  #view-report-button:focus-visible {
    margin-left: 4px;
    padding: 0 8px 0 12px;
  }
  #embed-button {
    color: #175a6a;
    background-color: white;
    margin-left: 4px;
  }
  #embed-button:hover {
    background-color: #f4f4f4;
  }
  
  #view-report-button,
  #embed-button {
    margin-bottom: 1em;
    padding: 0 12px;
    line-height: 36px;
  }
  #view-report-button:focus-visible,
  #embed-button:focus-visible {
    outline-offset: 2px;
    outline: 2px solid #3a86d1;
  }
  #view-report-button svg,
  #embed-button svg {
    width: 24px;
    margin-right: 8px;
    float: left;
    position: relative;
    top: 6px;
  }
  
  #embed-button-wrap {
    display: inline-block;
  }
  
  #copied-message {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    display: inline-block;
  }
  