.none {
  font-style: italic;
  color: var(--dark-gray-text);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
