.testers-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 3.75rem;
}

.testers-wrapper div {
    flex-basis: auto;
}

.testers-wrapper .dropdown {
    padding-right: 0.75em;
}

.testers-wrapper .assign-actions {
    width: 100%;
}

.status-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 3.75rem;
}

.assignees {
    margin-top: 0.3em;
    font-size: 0.9rem;
    text-align: center;
}

.assign-tester {
    border-radius: 25px;
    height: 2.5em;
    border-style: dashed;
    padding: 0.4em 0.6em;
}

.assign-tester .fa-user-plus {
    margin: 0;
}

.assign-tester.dropdown-toggle:after {
    display: none;
}

.no-assignees {
    text-align: center;
}

.not-assigned {
    padding-left: 1.5em;
}

.fullname {
    color: gray;
    font-size: 0.9em;
    margin-left: 0.25em;
}

svg.svg-inline--fa {
    margin-right: 0.5em;
}

button.more-actions svg {
    color: #9fa4aa;
}

button.more-actions {
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

button.more-actions:hover svg,
button.more-actions:focus svg {
    color: #6d757d;
}

button.more-actions.btn-primary:hover,
button.more-actions.btn-primary:focus {
    background: transparent;
}

button.more-actions:active {
    background: #0053ba;
}

.primary-buttons {
    width: inherit;
}

.reports-link {
    display: block;
    text-align: center;
    margin: 0.45em 0 0;
    font-size: 0.9rem;
}
