.test-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
}

.test-info-entity {
  padding: 0.5em 0.75em;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.apg-example-name,
.tests-completed,
.test-version,
.review-status,
.target-date {
  background: #f5f8fa;
  border: 1px solid #d2d5d9;
  width: 37%;
  text-align: center;
}

.at-browser {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: #f5f8fa;
  border: 1px solid #d2d5d9;
  width: 37%;
  /*text-align: center;*/
}

.at-browser-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#edit-fa-button {
  padding: 0;
  margin: 0;
  background: none;
  color: #919191;
  border: none;
}

#edit-fa-button svg {
  padding: 0;
  margin: 0;
}

.tests-completed {
  width: 23.5%;
}

.reviewing-as {
  background: #ecf6ff;
  border: 1px solid #c4d1e2;
  width: 100%;
}

.reviewing-as p {
  margin: 0;
  font-style: italic;
  margin-left: 0.5em;
  display: inline-block;
}

.reviewing-as.bot {
  background: #f0e1ff;
  border: 1px solid #d29fff;
}
