h2 {
    margin-top: 0;
}

/* Test Navigator */
button.test-navigator-toggle.hide {
    text-decoration: none;
    color: #0b60ab;
    border: 0;
    background-color: transparent;
    padding: 0 0 0 1.25em;
    position: relative;
}

button.test-navigator-toggle.hide:before {
    content: '<<';
    position: absolute;
    left: 0;
    font-size: 0.75em;
    font-weight: 700;
    top: 0.25em;
}

span.test-navigator-toggle-container {
    position: absolute;
    left: -20px;
}

button.test-navigator-toggle.show {
    width: 21px;
    height: 21px;
    border: 2px solid gray;
    border-radius: 3px;
    background: transparent;
    position: relative;
}

button.test-navigator-toggle.show:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    left: 2px;
    top: 2px;
    background: linear-gradient(
        180deg,
        rgba(128, 128, 128, 1) 0%,
        rgba(128, 128, 128, 1) 20%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 1) 40%,
        rgba(128, 128, 128, 1) 40%,
        rgba(128, 128, 128, 1) 60%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 80%,
        rgba(128, 128, 128, 1) 80%,
        rgba(128, 128, 128, 1) 100%
    );
}

button.test-navigator-toggle.show:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    left: 4px;
    top: 2px;
    background: white;
}

.test-navigator-list {
    position: relative;
    margin-top: 1em;
}

.test-name-wrapper {
    position: relative;
    margin: 0 0 0.5em 0.25em;
    list-style: unset;
}

.test-name-wrapper:before {
    content: '';
    height: 100%;
    left: -2.25em;
    position: absolute;
    top: 1em;
    background: #c7c7c7;
    width: 2px;
}

.test-name-wrapper:last-child:before {
    height: 0%;
}

.progress-indicator {
    position: absolute;
    left: -2.75em;
    top: 0.25em;
    width: 18px;
    height: 18px;
    border-radius: 50px;
}

.test-name-wrapper .test-name {
    display: block;
}

/* Test States in Test Navigator */
.test-name-wrapper.not-started .progress-indicator {
    background: White;
    border: 1px solid black;
}

.test-name-wrapper.in-progress .progress-indicator {
    background: #1e8f37;
    background: linear-gradient(
        180deg,
        #1e8f37 0%,
        #1e8f37 50%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    border: 1px solid #175b26;
}

.test-name-wrapper.skipped .progress-indicator {
    background: White;
    border: 1px dashed black;
}

.test-name-wrapper.conflicts .progress-indicator {
    background: #ffcd00;
    border: 1px solid #cc9719;
}

.test-name-wrapper.conflicts .progress-indicator:after {
    content: '!';
    position: absolute;
    left: 38%;
    top: -0.2em;
    font-size: 0.9em;
    font-weight: 700;
}

.test-name-wrapper.complete .progress-indicator {
    background: #1e8f37;
    border: 1px solid #175b26;
}

.test-name-wrapper.complete .progress-indicator:before,
.test-name-wrapper.complete .progress-indicator:after {
    content: '';
    position: absolute;
    background: white;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.test-name-wrapper.complete .progress-indicator:before {
    width: 4px;
    height: 3px;
    top: 7px;
    left: 3px;
}

.test-name-wrapper.complete .progress-indicator:after {
    width: 3px;
    height: 9px;
    top: 4px;
    left: 8px;
}

.test-iframe-contaner {
    padding: 0;
}

main.container-fluid .test-iframe-contaner > .row {
    padding-top: 0;
}

#test-iframe {
    width: 80vw;
    height: 65vh;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 0 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.testrun__button-toolbar {
    margin: 1em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.testrun__button-toolbar-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.testrun__button-toolbar-group .btn-primary,
.edit-results {
    margin-left: 1em;
}

.testrun__button-toolbar .btn {
    margin-right: 0.5rem;
}

.testrun__button-right {
    margin-right: auto;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #6bda84;
    border-radius: 50%;
    display: inline-block;
}

a[aria-current='true'] {
    font-weight: bold;
}

.task-label {
    display: table;
    font-size: .6em;
    font-weight: normal;
    background: #c3f9fc;
    padding: .25em;
    border-radius: 3px;
}