.submit-button {
    padding: 5px 25px;
    width: auto;
}

.close {
    position: relative;
    bottom: 15px;
    left: 10px;
}

.feedback {
    min-width: 60%;
}

.feedback .modal-content {
    padding-left: 1em;
    padding-bottom: 1em;
}

.feedback .modal-header {
    padding: 30px 30px 10px 40px;
    text-align: left;
}

.feedback .modal-body {
    padding: 0px 30px 0px 40px;
}

.feedback .modal-footer {
    padding-right: 30px;
}

.feedback-bold {
    font-weight: 600;
}

.feedback-title {
    font-size: 24px;
    font-weight: normal;
    border-bottom: solid #e5e5e5 1px;
    margin-bottom: 3px;
}

.feedback-content h2 {
    font-size: 16px;
    padding-bottom: 5px;
}

.feedback-content p {
    padding: 10px 0px;
}

.feedback-text {
    height: 150px;
    background-color: #f7f7f7;
}

.radio-text {
    padding-bottom: 10px;
    color: #656565;
    display: block;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
