main.container-fluid table .row,
main.container-fluid table .col-md-9,
main.container-fluid table .col-md-3 {
    padding: 0;
}

.test-queue.table td {
    padding: 0;
    /* background: #f4f4f4; */
}

.test-queue.table .testers-wrapper,
.test-queue.table .status-wrapper,
.test-queue.table .test-cta-wrapper {
    min-height: 3.75rem;
    padding: 0.75em;
    /* background: #ffffff; */
}

.test-queue.table .test-cta-wrapper :nth-child(n + 2) {
    margin-top: 0.375rem;
}

.test-queue.table .secondary-actions {
    border-top: 1px solid #d2d5d9;
    padding: 0.75em;
}

.test-queue.table .test-cta-wrapper .btn-primary {
    margin-bottom: 1px;
}

.test-queue.table .secondary-actions .btn-danger {
    margin-top: 0.75em;
}

.test-queue.table th.testers {
    width: 225px;
}

.test-queue.table th.report-status,
.test-queue.table th.actions {
    width: 175px;
}

.actions .primary-buttons .open-run-as .btn {
    padding-right: 2em;
    position: relative;
}

table .btn {
    width: 100%;
}

table button {
    margin: 0;
}

.status-label {
    width: 100%;
    text-align: center;
    margin: 0.45em 0;
}

.add-test-plan-queue-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;

    background: #e9ebee;
    border: 1px solid #d2d5d9;
}

.add-test-plan-queue-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.add-test-plan-queue-modal-container {
    display: flex;
    flex-direction: column;
}

.add-test-plan-queue-modal-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.add-test-plan-queue-modal-normalize-row {
    margin-top: auto;
}
