/* Dimensions */

/* Full Height Container accounting for navbar */
.fh-container {
  min-height: calc(100vh - 4rem /* navbar height */);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.spacer {
  height: var(--spacer);
}

.form-group {
  margin-bottom: 1rem;
}

h1.modal-title {
  font-size: var(--24px);
  border: 0;
  padding: 0;
}

h2.modal-subtitle {
  font-size: var(--20px);
  margin: 0;
  padding: 0;
}

div.modal-inner-section-container {
  display: flex;
  flex-direction: column;
}

/* Colors */
.dark-gray {
  color: var(--bg-dark-gray);
}

span.required-indicator {
  color: var(--bs-form-invalid-color);

  &::after {
    content: '*';
  }
}

/* Components */
h2.theme-table-header {
  background-color: var(--bs-table-bg) !important;
  font-size: var(--24px);
  font-weight: var(--font-weight-headings);
  border: solid 1px var(--border-gray);
  border-bottom: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0 0;
}

h3.theme-table-header {
  background-color: var(--bs-table-bg) !important;
  font-size: var(--20px);
  font-weight: var(--font-weight-headings);
  border: solid 1px var(--border-gray);
  border-bottom: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0 0;
}

table.theme-table {
  margin-bottom: 0;

  td,
  th {
    padding-left: 1rem;
    min-width: 10.25rem;
    vertical-align: middle;
  }
}

div.theme-table-unavailable {
  border: solid 1px var(--border-gray);
  padding: 0.5rem 1rem;
}
