---
- name: Install version control software
  apt:
    name: git
    state: present

- name: Define source code location
  set_fact:
    source_dir: /home/{{application_user}}/aria-at-report

- include: upload-source-code.yml

# TODO: these permissions changes are a workaround solution

- name: Make server scripts folder writable for import tests API endpoint
  file:
    path: '{{source_dir}}/server/scripts'
    mode: '0777'
    recurse: yes
  when: deployment_mode != 'development'
  notify: "restart server"

- name: Make server resources folder writable for import tests API endpoint
  file:
    path: '{{source_dir}}/server/resources'
    mode: '0777'
    recurse: yes
  when: deployment_mode != 'development'
  notify: "restart server"

- name: Link application code
  file:
    dest: '{{source_dir}}'
    src: /vagrant
    state: link
  when: deployment_mode == 'development'

- name: Install Node.js dependencies
  command: yarn install
  become: yes
  args:
    chdir: '{{source_dir}}'

- name: Insert environment configuration file
  copy:
    dest: /home/{{application_user}}/config.env
    src: files/config-{{deployment_mode}}.env
    owner: '{{application_user}}'
  become: yes
  register: environment_config

- name: Insert JWT signing key
  copy:
    dest: '{{source_dir}}/{{application_user}}/jwt-signing-key.pem'
    src: files/jwt-signing-key.pem.enc
    owner: '{{application_user}}'
  become: yes
  when: deployment_mode != 'development'

- name: Create database and database user
  command: ./db/scripts/db_init.sh {{environment_config.dest}}
  become: yes
  become_user: postgres
  args:
    chdir: '{{source_dir}}'
  vars:
    ansible_ssh_pipelining: yes

- name: Migrate database
  shell: DOTENV_CONFIG_PATH={{environment_config.dest}} node -r ./node_modules/dotenv/config ./node_modules/.bin/sequelize-cli db:migrate --config ./config/config.js --migrations-path ./server/migrations/
  args:
    chdir: '{{source_dir}}'

- name: Seed database
  shell: DOTENV_CONFIG_PATH={{environment_config.dest}} node -r ./node_modules/dotenv/config ./node_modules/.bin/sequelize-cli db:seed:all --config ./config/config.js --seeders-path ./server/seeders/
  args:
    chdir: '{{source_dir}}'

- name: Build front end package
  command: ./deploy/scripts/export-and-exec.sh {{environment_config.dest}} yarn workspace client build
  become: yes
  args:
    chdir: '{{source_dir}}'

- include: service.yml

- include: cron.yml
