---
- name: Install version control software
  apt:
    name: git
    state: present

- name: Define source code location
  set_fact:
    source_dir: /home/{{application_user}}/aria-at-report

- name: Upload project source code
  synchronize:
    src: '{{playbook_dir}}/..'
    dest: '{{source_dir}}'
    rsync_opts:
      - '--filter=:- .gitignore'
  when: deployment_mode != 'development'

- name: Make server folder writable for import tests API endpoint
  file:
    path: '{{source_dir}}/server'
    mode: '0777'
    recurse: yes
  when: deployment_mode != 'development'
  notify: "restart server"

- name: Make vagrant folder writable
  file:
    path: /vagrant/server
    mode: '0777'
    recurse: yes
  when: deployment_mode == 'development'

- name: Link application code
  file:
    dest: '{{source_dir}}'
    src: /vagrant
    state: link
  when: deployment_mode == 'development'

- name: Install Node.js dependencies
  command: yarn install
  args:
    chdir: '{{source_dir}}'

- name: Insert environment configuration file
  copy:
    dest: /home/{{application_user}}/config.env
    src: files/config-{{deployment_mode}}.env
    owner: '{{application_user}}'
  register: environment_config

- name: Create database and database user
  command: sudo -u postgres ./db/scripts/db_init.sh {{environment_config.dest}}
  args:
    chdir: '{{source_dir}}'

- name: Migrate database
  shell: DOTENV_CONFIG_PATH={{environment_config.dest}} node -r ./node_modules/dotenv/config $(npm bin)/sequelize-cli db:migrate --config ./config/config.js --migrations-path ./server/migrations/
  args:
    chdir: '{{source_dir}}'

- name: Seed database
  shell: DOTENV_CONFIG_PATH={{environment_config.dest}} node -r ./node_modules/dotenv/config $(npm bin)/sequelize-cli db:seed:all --config ./config/config.js --seeders-path ./server/seeders/
  args:
    chdir: '{{source_dir}}'

- name: Import tests into database
  command: ./deploy/scripts/export-and-exec.sh {{environment_config.dest}} node ./server/scripts/import-tests/index.js -c {{aria_at_test_revision}}
  args:
    chdir: '{{source_dir}}'

- name: Build front end package
  command: ./deploy/scripts/export-and-exec.sh {{environment_config.dest}} yarn workspace client build
  args:
    chdir: '{{source_dir}}'

- include: service.yml
