.feedback-accordion {
    width: 100%;
    
}

.feedback-accordion-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.feedback-accordion-header span {
    text-align: right;
}

.feedback-from-text {
    font-weight: 400;
}

.feedback-list {
    padding-left: 20px;
}

.feedback-list-item {
    padding: 1em 0 1em .5em;
    padding-left: 10px;
    position: relative;
    margin: 1em 0 1em 0.25em;
    list-style: none;
    font-size: 14px;
    border: solid 1px #e5e5e5;
    width: 100%;
}

.feedback-indicator {
    position: absolute;
    left: -2em;
    top: 1.3em;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 2px solid #9a9a9a;
}

.feedback-list-item:before {
    content: '';
    position: absolute;
    height: 2.3em;
    width: 2px;
    top: -1.1em;
    left: -1.5em;
    background: #d2d5d9;
}

.feedback-list-item:after {
    content: '';
    position: absolute;
    height: 2.2em;
    width: 2px;
    bottom: -1.2em;
    left: -1.5em;
    background: #d2d5d9;
}

.feedback-list-item .feedback-indicator {
    background: white;

}

.issues-container {
    max-width: 800px;
}

.issues-container > h2 {
    margin: 0 0 0.5em;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e5e5e5;
}

.task-label {
    font-size: 18px !important;
}

.test-results-header, .test-instructions-header {
    border-bottom: none;
}

.review-status, .target-date, .apg-example-name {
    width: 32% !important;
}

.results-container {
    padding: 0px;
}

.results-col {
    border: 1px solid black;
    padding: 10px;
}

.options-feedback {
    top: 35px;
}

#overallstatus {
    margin-top: 5px;
}

.using {
    font-weight: 300;
}

.viewed-badge {
    background-color: #E5E5E5;
    color: black;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -5px;
}