.feedback-accordion {
    width: 100%;
    
}

.feedback-accordion-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.feedback-accordion-header span {
    text-align: right;
}

.feedback-list {
    padding-left: 20px;
}

.feedback-list-item {
    padding-right: 20px;
    position: relative;
    margin: 0 0 1em 0.25em;
    list-style: none;
}

.feedback-list-item:before {
    content: '';
    height: 2.5em;
    left: -1em;
    position: absolute;
    top: 1.2em;
    background: #d2d5d9;
    width: 2px;
}

.feedback-list-item:last-child:before {
    height: 0%;
}

.feedback-indicator {
    position: absolute;
    left: -1.5em;
    top: 0.3em;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 2px solid #d2d5d9;
}

.feedback-list-item .feedback-indicator {
    background: white;
}

.task-label {
    font-size: 18px !important;
}

.test-results-header, .test-instructions-header {
    border-bottom: none;
}

.results-col {
    border: 1px solid black;
    padding: 10px;
}

#overallstatus {
    margin-top: 5px;
}

.viewed-badge {
    background-color: #E5E5E5;
    color: black;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -5px;
}