.failing-assertions-summary-table-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.failing-assertions-summary-table-container p {
  margin: 0;
}

.failing-assertions-summary-table-container ul li {
  margin-left: var(--16px);
  list-style-type: disc;
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

.failing-assertions-summary-table-container ul {
  margin-bottom: 1rem;
}

.failing-assertions-summary-table-container table {
  table-layout: fixed;
  width: 100%;
  margin: 0;
}

.failing-assertions-summary-table-container th,
.failing-assertions-summary-table-container td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.bug-reports-button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table td ul li {
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

table td ul {
  margin-bottom: 1rem;
}
