.inner-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3.125rem auto;
  grid-gap: var(--10px);
}

.color-strip {
  width: 100%;
  height: var(--10px);
  background-color: var(--theme-color, var(--warning-status-color));
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
