.btn {
    padding: 5px 15px;
}

.close {
    position: relative;
    bottom: 15px;
    left: 10px;
}

.disabled {
    opacity: 0.3;
}

.feedback {
    min-width: 50%;
}

.feedback .modal-content {
    padding-left: 1em;
    padding-bottom: 1em;
}

.feedback .modal-header {
    padding: 30px 30px 10px 40px;
    text-align: left;
}

.feedback .modal-body {
    padding: 0px 30px 0px 40px;
}

.feedback .modal-footer {
    padding-right: 30px;
}

.feedback-bold {
    font-weight: 600;
    font-style: 'Roboto';
}

.feedback-title {
    font-size: 24px;
    font-weight: normal;
}

.feedback-content h2 {
    font-size: 16px;
    padding-bottom: 5px;
}

.feedback-content p {
    padding: 10px 0px;
}

.feedback-text {
    height: 150px;
    background-color: #F7F7F7;
}

.radio-text {
    padding-bottom: 10px;
}