---
- name: Add software repository keys
  apt_key:
    state: present
    url: '{{item}}'
  become: yes
  with_items:
    - https://dl.yarnpkg.com/debian/pubkey.gpg
    - https://deb.nodesource.com/gpgkey/nodesource.gpg.key

- include: upgrade.yml

- name: Add software repositories
  apt_repository:
    state: present
    repo: '{{item}}'
    update_cache: True
  become: yes
  with_items:
    - deb https://dl.yarnpkg.com/debian/ stable main
    - deb https://deb.nodesource.com/node_18.x buster main

- name: Install packages
  apt:
    name:
      - nodejs
      - yarn
      - npm
    state: present
  become: yes
  when: deployment_mode != 'sandbox'

# TODO: `apt install npm` causes package locking issues on the sandbox that need to be resolved
- name: Install packages (sandbox)
  apt:
    name:
      - nodejs
      - yarn
    state: present
  become: yes
  when: deployment_mode == 'sandbox'

- name: Check if Node exists
  command: node --version
  register: new_node_version

- name: Show status of nodejs installation
  debug: msg="{{ new_node_version.stdout }}"

- name: Check if npm exists
  command: npm --version
  register: npm_version

- name: Show status of nodejs installation
  debug: msg="{{ npm_version.stdout }}"
