- name: Check if Node exists
  shell: |
    if ! node --version; then
      echo "Node.js is not installed"
    fi
  register: node_version
  ignore_errors: true

- name: Show status of nodejs installation
  debug: msg="{{ node_version.stdout }}"

- name: Remove Node.js repo if not version 22
  apt_repository:
    state: absent
    # The last known version across the environments before current update
    repo: deb https://deb.nodesource.com/node_18.x buster main
    update_cache: True
  become: yes
  when: 'node_version.stdout is not match("v22.*")'

- name: Remove Node.js if not version 22
  apt:
    name: nodejs
    state: absent
  become: yes
  when: 'node_version.stdout is not match("v22.*")'
