.aria-at-tooltip-content {
  padding: 1em;
  max-width: 40em;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: var(--border-gray);
  border-style: solid;
  border-width: 1px;
}

.aria-at-tooltip-arrow {
  fill: var(--border-gray);
}
