.current-commit {
    background: #ecf6ff;
    border: 1px solid #c4d1e2;
    padding: 1em;
    border-radius: 3px;
}
.current-commit p {
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.45em 0.75em 0.4em;
    border-radius: 5px;
    border: 1px solid #c4d1e2;
}

.current-commit p .fa-check {
    color: green;
    margin-right: 0.25em;
    padding-top: 0.1em;
}

.current-commit p,
.select-commit .form-control {
    font-family: monospace;
    font-size: 1.2em;
}

.select-commit {
    background: #f5f8fa;
    border: 1px solid #d2d5d9;
    padding: 1em;
    border-radius: 3px;
}

.current-commit,
.select-commit {
    position: relative;
    padding-left: 2.5em;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.current-commit:before,
.select-commit:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    left: 1em;
    top: 0;
}

.current-commit:after,
.select-commit:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: white;
    left: 0.75em;
    top: 1.5em;
}

.configure-at-browser {
    margin-bottom: 0;
}

.current-commit label:before,
.select-commit label:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    left: 0.5em;
    top: 1.75em;
    background: #7f7f7f;
}
.current-commit label:before {
    box-shadow: 0px 0px 0px 7px #ecf6ff;
}

.select-commit label:before {
    box-shadow: 0px 0px 0px 7px #f5f8fa;
}

.add-at-browser {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0.75em;
    border: 1px dashed #d2d5d9;
    border-top: none;
    background: #f5f8fa;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.btn-container {
    padding: 0;
}

.btn-container svg {
    margin-right: 0.5em;
}

.btn-container button {
    padding: .4em 0 .4em 0;
}

button {
    width: max-content;
}

.actions {
    width: 220px;
}

.test-plans button {
    width: 100%;
}
