.breadcrumb {
    background: none;
    border: 1px solid gainsboro;
    position: relative;
    font-size: 0.9em;
    margin: 0;
}

.breadcrumb-item {
    position: relative;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 1.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1.6em;
    background: gainsboro;
    display: initial;
    padding: 0;
    top: -0.8em;
    transform: rotate(-20deg);
    left: 0.75em;
}

.breadcrumb-item + .breadcrumb-item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1.6em;
    background: gainsboro;
    display: initial;
    padding: 0;
    bottom: -0.8em;
    transform: rotate(20deg);
    left: 0.75em;
}

.breadcrumb-item a {
    color: #0b60ab;
}

.breadcrumb-item a:hover {
    color: #0b60ab;
}

.breadcrumb-item.active {
    color: #000000;
}

.current-commit {
    margin-top: 1em;
}

.skipped-tests-heading {
    background: #fefbea;
    padding: 1.75em 1.75em 1em 1.75em;
    border: 1px solid #eddfbe;
    border-bottom: 0;
    margin-top: 2em;
}

.skipped-tests {
    columns: 2;
    line-height: 2;
    border: 1px solid #eddfbe;
    padding: 1.5em 3em;
    background: #fdfcf6;
}

.skipped-tests li {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #eddfbe;
    padding-bottom: 0.5em;
    margin-right: 3em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.skipped-tests li:last-child {
    border-bottom: none;
}

.test-result-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #e9f0f8;
    padding: 1.75em 1.75em 1em 1.75em;
    border: 1px solid #b5cfec;
    border-bottom: 0;
    margin-top: 2em;
}

.skipped-tests-heading h2,
.test-result-heading h2 {
    margin-top: 0;
}

.test-result-buttons {
    margin-bottom: 0.5em;
}

.test-result-buttons button {
    margin-right: 0.5em;
}

.test-result-buttons .btn {
    border-color: #b5cfec;
}

.test-result-buttons .btn:hover {
    background: #f6faff;
}

.report-results-details {
    width: 75%;
}

.progress {
    height: 1.2rem;
    border-radius: 1rem;
    margin-top: 0.2em;
}

.progress .progress-bar.bg-info {
    background-color: #0b60ab !important;
}

.test-details {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
    margin-bottom: 0.25em;
}
