table.test-plan-results-table {
    /* To override `caption-side: bottom;` coming from _reboot.scss */
    caption-side: unset;
}

p.test-plan-results-response-p {
    margin: 0;
}

blockquote.test-plan-results-blockquote {
    background: #f7f7f7;
    border-left: 4px solid #d3d5d9;
    margin: 0.5em 0;
    padding: 0.5em;
}

li.test-plan-results-li {
    margin-left: 1rem;
    list-style: disc;
}
