#root {
    width: 100vw;
    height: 100vh;
    background: #eaeaea;
}

#root > div,
main {
    overflow: visible;
}

main {
    background: white;
    height: 100%;
}

main,
nav.navbar {
    max-width: 1200px;
    margin: auto;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding: 0rem;
}

.container {
    background-color: white;
}

nav.navbar {
    padding: 0.5rem 1rem;
}

main.container-fluid .row {
    padding: 0.5rem 1rem;
}

@media (min-width: 700px) {
    nav.navbar {
        padding: 0.5rem 3rem;
    }

    main.container-fluid > .row {
        padding: 2rem 3rem;
    }
}

@media (min-width: 1000px) {
    nav.navbar {
        padding: 0.5rem 5rem;
    }

    main.container-fluid > .row {
        padding: 4rem 5rem;
    }
}

nav .logo.navbar-brand {
    font-weight: 700;
    font-size: 1.6em;
}

a {
    color: #0b60ab;
}

a:hover {
    color: #214e86;
}

.btn-primary {
    background: #0b60ab;
    border: 1px solid #095190;
}

.btn-primary:hover {
    background: #214e86;
}

.btn-primary:focus,
.btn-primary.focus {
    background: #214e86;
    border: 1px solid #095190;
    box-shadow: 0 0 0 0.2rem rgba(103, 171, 197, 0.5);
}

h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0.25em;
    font-size: 2em;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 1.5em;
}

h3 {
    margin: 1em 0 0.5em;
    font-size: 1.25em;
}

h4 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

h5 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

button {
    margin: 0.25em 0;
}

.init-box {
    background: #f6f8fa;
    border: 1px solid #d2d5d9;
    border-radius: 3px;
}

.table thead th {
    border-bottom: 0;
}

table thead th {
    background: #f6f8fa;
    white-space: nowrap;
}

table tbody tr {
    background-color: #fafbfc;
}

table tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #d2d5d9;
}

table.table-hover tbody tr:hover,
table tbody tr:hover {
    background-color: #f6f8fa;
}

table .form-control {
    width: auto;
    border: 1px solid #d2d5d9;
}

table label {
    margin-bottom: 0;
}

table label input {
    margin-right: 0.5em;
}

table tbody tr.assign-testers {
    background-color: #f6f8fa;
}

.commit-message {
    background: #ecf6ff;
    border: 1px solid #c4d1e2;
    padding: 1em;
    border-radius: 3px;
}

/* Actions */
.actions {
    white-space: nowrap;
}

<<<<<<< HEAD
<<<<<<< HEAD
.dropdown .btn-primary {
  position: relative;
  padding-right: 1.5em;
}

.dropdown-toggle::after {
  right: .5em;
  position: absolute;
  top: 1em;
}

<<<<<<< HEAD
.assign-testers.dropdown,
.unassign-testers.dropdown,
.delete-results.dropdown,
=======
<<<<<<< HEAD
.assign-testers.dropdown,
.unassign-testers.dropdown,
.delete-results.dropdown,
=======
.assign-testers.dropdown, 
.unassign-testers.dropdown,
.delete-results.dropdown, 
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
.mark-as-draft.dropdown {
  display: inline-block;
}

.assign-testers.dropdown {
  margin-right: .5em;
}

.open-run-as button.btn-primary {
  width: 100%;
  text-align: left;
}

<<<<<<< HEAD
.assign-testers button.btn-primary,
=======
<<<<<<< HEAD
.assign-testers button.btn-primary,
=======
.assign-testers button.btn-primary, 
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
.unassign-testers button.btn-primary,
.open-run-as button.btn-primary {
  background: white;
  border: 1px solid #D2D5D9;
  color: inherit;
}

<<<<<<< HEAD
.assign-testers button:hover,
=======
<<<<<<< HEAD
.assign-testers button:hover,
=======
.assign-testers button:hover, 
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
.unassign-testers button:hover {
  background: white;
  border: 1px solid #D2D5D9;
  color: inherit;
}

.assign-testers button.btn-primary.disabled,
<<<<<<< HEAD
.assign-testers button.btn-primary:disabled,
=======
<<<<<<< HEAD
.assign-testers button.btn-primary:disabled,
=======
.assign-testers button.btn-primary:disabled, 
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
.unassign-testers button.btn-primary.disabled,
.unassign-testers button.btn-primary:disabled,
.open-run-as button.btn-primary.disabled,
.open-run-as button.btn-primary:disabled,
<<<<<<< HEAD
.assign-testers button.btn-primary:focus,
.unassign-testers button.btn-primary:focus,
=======
<<<<<<< HEAD
.assign-testers button.btn-primary:focus,
=======
.assign-testers button.btn-primary:focus, 
>>>>>>> 6a0af4d... Style action buttons
.unassign-testers button.btn-primary:focus
>>>>>>> Change links and buttons color
.open-run-as button.btn-primary:focus  {
  background: white;
  border: 1px solid #D2D5D9;
  color: #A1A3A4;
  opacity: 1;
}

<<<<<<< HEAD
.assign-testers button.btn-primary.active,
.assign-testers button.btn-primary:active,
.unassign-testers button.btn-primary.active,
.unassign-testers button.btn-primary:active,
.open-run-as button.btn-primary.active,
=======
<<<<<<< HEAD
.assign-testers button.btn-primary.active,
.unassign-testers button.btn-primary.active
.open-run-as button.btn-primary.active,
.assign-testers button.btn-primary:active,
=======
.assign-testers button.btn-primary.active, 
.unassign-testers button.btn-primary.active
.open-run-as button.btn-primary.active,
.assign-testers button.btn-primary:active, 
>>>>>>> 6a0af4d... Style action buttons
.unassign-testers button.btn-primary:active
>>>>>>> Change links and buttons color
.open-run-as button.btn-primary:active  {
  background: #F6F8FA;
}

<<<<<<< HEAD
.delete-results .btn-primary:disabled,
=======
<<<<<<< HEAD
.delete-results .btn-primary.disabled,
=======
.delete-results .btn-primary.disabled, 
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
.delete-results .btn-primary:disabled {
  opacity: 1;
  background: white;
  border: 1px solid #D2D5D9;
=======
=======
>>>>>>> Fix Visual bug
.actions button {
    width: 100%;
    display: block;
}

.assign-test.dropdown,
.unassign-test.dropdown {
    display: inline-block;
    width: 50%;
}

.assign-test.dropdown {
    padding-right: 0.5em;
}

<<<<<<< HEAD
<<<<<<< HEAD
.mark-as-draft {
=======
<<<<<<< HEAD
<<<<<<< HEAD
.mark-as-draft {
=======
.mark-as-draft {    
>>>>>>> 6a0af4d... Style action buttons
>>>>>>> Change links and buttons color
  width: 50%;
}

/* .delete-my-results {

} */
<<<<<<< HEAD
=======
  border: 1px solid #a3b5c7;
=======
  border: 1px solid #D2D5D9;
>>>>>>> 8c71220... Tweak to colors of tables
}

table.table-hover tbody tr:hover, table tbody tr:hover {
  background-color: #F6F8FA;
}

table .form-control {
  width: auto;
  border: 1px solid #D2D5D9;
}

table label {
  margin-bottom: 0;
}

table label input {
  margin-right: .5em;
}

<<<<<<< HEAD
>>>>>>> 828241c... Change tables colors
=======
table tbody tr.assign-testers {
<<<<<<< HEAD
  background-color: #DFEAF7;
}
>>>>>>> 1ba3ac6... Style "Assign Testers" table row
=======
  background-color: #F6F8FA;
}
>>>>>>> 8c71220... Tweak to colors of tables
=======
>>>>>>> a750d17... Style commit message
=======
>>>>>>> 6a0af4d... Style action buttons
=======
=======
>>>>>>> Fix Visual bug
.actions .dropdown button {
    text-align: left;
    position: relative;
    padding-right: 1.75em;
}

.dropdown-toggle::after {
    position: absolute;
    right: 0.5em;
    top: 50%;
}
