#root {
    width: 100vw;
    height: 100vh;
    background: #eaeaea;
}

#root > div,

main {
    background: white;
    height:100vh
}

main,
nav.navbar {
    max-width: 1200px;
    margin: auto;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding: 0rem;
}

.container {
    background-color: white;
}

nav.navbar {
    padding: 0.5rem 1rem;
}

main.container-fluid .row {
    padding: 0.5rem 1rem;
}

@media (min-width: 700px) {
    nav.navbar {
        padding: 0.5rem 3rem;
    }

    main.container-fluid > .row {
        padding: 2rem 3rem;
    }
}

@media (min-width: 1000px) {
    nav.navbar {
        padding: 0.5rem 5rem;
    }

    main.container-fluid > .row {
        padding: 4rem 5rem;
    }
}

nav .logo.navbar-brand {
    font-weight: 700;
    font-size: 1.6em;
}

a {
    color: #2d73c7;
}

a:hover {
    color: #214e86;
}

h1 {
    margin: 0.5em;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0.25em;
    font-size: 2em;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 1.5em;
}

h3 {
    margin: 1em 0 0.5em;
    font-size: 1.25em;
}

h4 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

button {
    margin: 0.25em 0;
}


