/* static/index.html:#root */
#root {
  width: 100%;
  height: 100vh;
  background: var(--bg);
  font-size: var(--default-font-size);
}

/* root containers */
#root > div,
main {
  overflow: visible;
}

main {
  background: white;
  height: 100%;
}

.container {
  max-width: 1400px;
  margin: auto;
  background-color: white;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding: 0;
}

.row {
  margin: 0;
}

@media (min-width: 700px) {
  .container {
    padding: 3rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 5rem;
  }
}

/* Navbar and Menu */
nav.navbar {
  max-width: 1400px;
  min-height: 4rem;
  padding: 0.5rem 1rem;
  margin: auto;
}

.nav-link {
  position: relative;
  color: var(--font-link);
  font-size: var(--nav-font-size);
  transition: font-size 0.5s ease;

  &:hover {
    color: var(--font-black);
    text-decoration: none;

    &::after {
      background: var(--font-link-hover-light);
    }
  }

  &[aria-current='true'] {
    color: var(--font-black);

    &::after {
      background: var(--font-link);
    }
  }
}

@media (min-width: 700px) {
  nav.navbar {
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 1000px) {
  nav.navbar {
    padding: 0.5rem 5rem;
  }
}

@media all and (min-width: 1200px) {
  .navbar-expand-lg .navbar-collapse ul {
    display: flex;
    flex-basis: auto;
    margin-bottom: 0;
  }

  .nav-link[aria-current='true']::after,
  .nav-link:hover::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 2px;
    left: 0;
    bottom: -12px;
    right: 0;
    margin: auto;
  }
}

@media all and (min-width: 1199px) and (max-width: 1253px) {
  .nav-link {
    font-size: var(--nav-font-size-sm);
  }
}

@media all and (max-width: 1199px) {
  .nav-link[aria-current='true']::after,
  .nav-link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 6px;
  }
}

nav .logo.navbar-brand {
  font-weight: var(--font-weight-heavy);
  font-size: var(--26px);
  /* The logo is focused on every page navigation, making this particular
    outline quite distracting. It looks like part of the logo design.
    Furthermore, the top left of the page is where focus is implicitly
    expected to be, so the outline is not really adding anything. And
    Browsers are not consistently showing the outline anyway. */
  outline: none;
}

/* General element styling */
a {
  color: var(--font-link);
  text-decoration: none;

  &:hover {
    color: var(--font-link-hover-dark);
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: 1rem;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 0.25rem;
  font-size: var(--32px);
}

h2 {
  margin: 1.5rem 0 0.5rem;
  font-size: var(--24px);
}

h3 {
  margin: 1rem 0 0.5rem;
  font-size: var(--20px);
}

h4 {
  margin: 1rem 0 0.5rem;
  font-size: var(--16px);
  font-weight: var(--font-weight-headings);
}

h5 {
  margin: 1em 0 0.5em;
  font-size: 1em;
  font-weight: var(--font-weight-headings);
}

button {
  margin: 0.25rem 0;
}

img {
  max-width: 100%;
}

svg {
  &.svg-inline--fa {
    margin-right: 0.5rem;
  }
}

/* Table */
.table {
  thead th {
    border-bottom: 0;
    background: var(--bg-table-headings);
  }

  tbody {
    th {
      font-weight: var(--font-weight-light);
    }

    tr {
      background-color: var(--bg-table-body);

      &:nth-of-type(odd),
      &.table-striped:nth-of-type(odd) {
        background-color: white;
      }

      &:hover {
        background-color: var(--bg-table-hover);
      }
    }
  }

  &.table-bordered {
    th,
    td {
      border: 1px solid var(--border-gray);
    }
  }

  td {
    padding: 0.75rem;
  }

  label {
    margin-bottom: 0;

    input {
      margin-right: 0.5rem;
    }
  }

  ul {
    margin-bottom: 0;
  }
}

table {
  &.table-hover tbody tr:hover,
  tbody tr:hover {
    background-color: var(--bg-table-hover);
  }

  .btn {
    width: 100%;
  }

  button {
    margin: 0;
  }
}

ol {
  padding-left: 1.75rem;

  &.breadcrumb {
    padding: 0.75rem 1rem;
  }
}

ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}

/* Buttons */
.btn {
  font-size: var(--14px);
  font-weight: var(--font-weight-medium);
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-danger.disabled,
.btn-danger:disabled {
  background: var(--disabled-bg);
  color: var(--disabled-color);
  border: 1px solid var(--disabled-border);
}

/* Button Primary */
.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-border);

  &:hover {
    background: var(--primary-dark);
  }

  &:focus,
  &.focus,
  &:active,
  &.active,
  &:not(:disabled):not(.disabled):active {
    color: var(--primary-color);
    background: var(--primary-focus-bg);
    border-color: var(--primary-border);
    box-shadow: 0 0 0 0.2rem var(--button-shadow);
  }
}

/* Button Secondary */
.btn-secondary {
  background: var(--secondary-bg);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-border);

  &:hover {
    background: var(--secondary-dark);
    color: var(--secondary-color);
    border-color: var(--secondary-border);
  }

  &:focus,
  &.focus,
  &:active,
  &.active,
  &:not(:disabled):not(.disabled):active {
    background: var(--secondary-bg);
    color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem var(--button-shadow);
  }

  &.dropdown-toggle {
    &.show {
      background: var(--secondary-bg);
      color: var(--secondary-color);
      box-shadow: 0 0 0 0.2rem var(--button-shadow);
    }
  }
}

/* Button Danger */
.btn-danger {
  background: var(--danger-bg);
  color: var(--danger-color);
  border: 1px solid var(--danger-border);
}

/* Bootstrap's dropdown toggle */
.dropdown-toggle {
  position: relative;

  &::after {
    position: absolute;
    right: 0.5rem;
    top: 50%;
  }
}

/* Bootstrap's breadcrumb */
.breadcrumb {
  background: none;
  border: 1px solid gainsboro;
  position: relative;
  font-size: var(--14px);
  margin: 0;

  .breadcrumb-item {
    position: relative;
    width: max-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
      color: var(--font-link);

      &:hover {
        color: var(--font-link);
      }
    }

    &.active {
      color: var(--font-black);
    }

    & + .breadcrumb-item {
      padding-left: var(--24px);

      &::before,
      &::after {
        content: '\203A';
        position: absolute;
        width: 0;
        padding: 0;
        left: 0.5rem;
      }
    }
  }
}

/* Signed in elements */
.signed-in-wrapper {
  display: flex;
  align-items: center;
}

.signed-in {
  padding-left: 0.75rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-left: 2px solid var(--border-gray);
}

@media (max-width: 991px) {
  .signed-in-wrapper {
    align-items: stretch;
    flex-direction: column;
  }

  .signed-in {
    border-left: none;
  }
}

/* Modals */
.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem 1.5rem;
}

/* Allow multiple dialogs to be open at the same time */
div[role='dialog'][aria-modal='true']:nth-last-child(1) {
  z-index: 1125;
}

.modal-backdrop.show:nth-last-child(2) {
  z-index: 1100;
}

div[role='dialog'][aria-modal='true']:nth-last-child(3) {
  z-index: 1075;
}

.modal-backdrop.show:nth-last-child(4) {
  z-index: 1050;
}

div[role='dialog'][aria-modal='true']:nth-last-child(5) {
  z-index: 1025;
}

.modal-backdrop.show:nth-last-child(6) {
  z-index: 1000;
}

@media (min-width: 768px) {
  .modal-50w {
    min-width: 50%;
  }
  .modal-60w {
    min-width: 60%;
  }
}

/* Icons Default */
.fa-exclamation-circle,
.fa-redo,
.fa-pen,
.fa-external-link-alt {
  color: var(--bg-dark-gray);
}

.fa-check {
  color: var(--positive-green);
}
