#root {
    width: 100vw;
    height: 100vh;
    background: #eaeaea;
}

#root > div,
main {
    overflow: visible;
}

main {
    background: white;
    height: 100%;
}

main,
nav.navbar {
    max-width: 1200px;
    margin: auto;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding: 0rem;
}

.container {
    background-color: white;
}

nav.navbar {
    padding: 0.5rem 1rem;
}

.nav-link[aria-current='true'] {
    color: #000;
}

main.container-fluid .row {
    padding: 0.5rem 1rem;
}

@media (min-width: 700px) {
    nav.navbar {
        padding: 0.5rem 3rem;
    }

    main.container-fluid > .row {
        padding: 2rem 3rem;
    }
}

@media (min-width: 1000px) {
    nav.navbar {
        padding: 0.5rem 5rem;
    }

    main.container-fluid > .row {
        padding: 4rem 5rem;
    }
}

nav .logo.navbar-brand {
    font-weight: 700;
    font-size: 1.6em;
}

a {
    color: #0b60ab;
}

a:hover {
    color: #214e86;
}

.btn-primary {
    background: #0b60ab;
    border: 1px solid #095190;
}

.btn-primary:hover {
    background: #214e86;
}

.btn-primary:focus,
.btn-primary.focus {
    background: #214e86;
    border: 1px solid #095190;
    box-shadow: 0 0 0 0.2rem rgba(103, 171, 197, 0.5);
}

h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0.25em;
    font-size: 2em;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 1.5em;
}

h3 {
    margin: 1em 0 0.5em;
    font-size: 1.25em;
}

h4 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

h5 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

h2, h3, h4, h5 {
    margin: 0 0 0.5em;
}

button {
    margin: 0.25em 0;
}

.init-box {
    background: #f6f8fa;
    border: 1px solid #d2d5d9;
    border-radius: 3px;
}

.table thead th {
    border-bottom: 0;
}

table thead th {
    background: #f6f8fa;
    white-space: nowrap;
}

table tbody tr {
    background-color: #fafbfc;
}

table tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #d2d5d9;
}

table.table-hover tbody tr:hover,
table tbody tr:hover {
    background-color: #f6f8fa;
}

table .form-control {
    width: auto;
    border: 1px solid #d2d5d9;
}

table label {
    margin-bottom: 0;
}

table label input {
    margin-right: 0.5em;
}

table tbody tr.assign-testers {
    background-color: #f6f8fa;
}

.commit-message {
    background: #ecf6ff;
    border: 1px solid #c4d1e2;
    padding: 1em;
    border-radius: 3px;
}

/* Actions */
.actions {
    white-space: nowrap;
}

.actions button {
    width: 100%;
    display: block;
}

.assign-test.dropdown,
.unassign-test.dropdown {
    display: inline-block;
    width: 50%;
}

.assign-test.dropdown {
    padding-right: 0.5em;
}

.actions .dropdown button {
    text-align: left;
    position: relative;
    padding-right: 1.75em;
}

.dropdown-toggle::after {
    position: absolute;
    right: 0.5em;
    top: 50%;
}

.app-screenshots {
    margin-top: 3em;
    border-top: 1px solid gainsboro;
    padding-top: 3em;
}

.app-screenshots .container {
    padding: 0;
    margin-bottom: 5em;
}

.app-screenshots .container > div {
    padding-right: 2em;
}

.app-screenshots .description h2 {
    margin-top: 0;
}

.right {
    float: right;
}

img {
    max-width: 100%;
}

@media (min-width: 800px) {
    .app-screenshots .description,
    .app-screenshots .screenshot {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
}
