#root {
    width: 100%;
    height: 100vh;
    background: #eaeaea;
}

#root > div,
main {
    overflow: visible;
}

main {
    background: white;
    height: 100%;
}

nav.navbar,
main.container,
.test-run-container {
    max-width: 1400px;
    margin: auto;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding: 0rem;
}

.container {
    background-color: white;
}

nav.navbar {
    padding: 0.5rem 1rem;
}

.nav-link {
    position: relative;
}

.nav-link:hover {
    color: #000;
}

.nav-link[aria-current='true'] {
    color: #000;
}

.nav-link:hover:after {
    background: #cfcece;
}

.nav-link[aria-current='true']:after {
    background: #0b60ab;
}
@media all and (min-width: 992px) {
    .nav-link[aria-current='true']:after,
    .nav-link:hover:after {
        position: absolute;
        content: '';
        width: 90%;
        height: 2px;
        left: 0;
        bottom: -12px;
        right: 0;
        margin: auto;
    }
}
@media all and (max-width: 991px) {
    .nav-link[aria-current='true']:after,
    .nav-link:hover:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 6px;
    }
}

main.container-fluid .row {
    padding: 0.5rem 1rem;
}

.row {
    margin: 0;
}

nav .logo.navbar-brand {
    font-weight: 700;
    font-size: 1.6em;
    /* The logo is focused on every page navigation, making this particular
    outline quite distracting. It looks like part of the logo design.
    Furthermore, the top left of the page is where focus is implicitly
    expected to be, so the outline is not really adding anything. And
    Browsers are not consistently showing the outline anyway. */
    outline: none;
}

a {
    color: #0b60ab;
}

a:hover {
    color: #214e86;
}

h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0.25em;
    font-size: 2em;
}

h2 {
    margin: 1.5em 0 0.5em;
    font-size: 1.5em;
}

h3 {
    margin: 1em 0 0.5em;
    font-size: 1.25em;
}

h4 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

h5 {
    margin: 1em 0 0.5em;
    font-size: 1em;
    font-weight: 600;
}

button {
    margin: 0.25em 0;
}

.table thead th {
    border-bottom: 0;
}

table thead th {
    background: #e9ebee;
}

table tbody th {
    font-weight: 400;
}

table tbody tr {
    background-color: #fafbfc;
}

table tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #d2d5d9;
}

table.table-hover tbody tr:hover,
table tbody tr:hover {
    background-color: #f6f8fa;
}

table .form-control {
    width: auto;
    border: 1px solid #d2d5d9;
}

table label {
    margin-bottom: 0;
}

table label input {
    margin-right: 0.5em;
}

table tbody tr.assign-testers {
    background-color: #f6f8fa;
}

.table ul {
    margin-bottom: 0;
}

ol {
    padding-left: 1.75em;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.col-md-9 li {
    padding-right: 0.5em;
}

/* BUTTONS */
/* Button Primary */
.btn {
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-primary {
    background: #0b60ab;
    border: 1px solid #095190;
}

.btn-primary:hover {
    background: #09589e;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active {
    background: #0b60ab;
    border-color: #095190;
    box-shadow: 0 0 0 0.2rem rgba(103, 171, 197, 0.5);
}

/* Button Secondary */
.btn-secondary,
.btn-danger {
    background: white;
    color: black;
    border: 1px solid #d7d7d7;
}

.btn-secondary:hover {
    background: #e8e8e8;
    color: black;
    border-color: #c2c2c2;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background: #f4f4f4;
    color: black;
    box-shadow: 0 0 0 0.2rem rgba(103, 171, 197, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-danger.disabled,
.btn-danger:disabled {
    background: #f4f4f4;
    color: #999999;
    border: 1px solid #d7d7d7;
    border: 1px solid #d7d7d7;
}

/* Button Tertiary */
.btn-tertiary {
    background: white;
    color: #0b60ab;
    border: 1px solid #d7d7d7;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active {
    background: white;
    color: #0b60ab;
}

/* Button Danger */
.btn-danger {
    color: #d52a49;
}

/* STATUS LABELS */

.status-label {
    font-size: 0.8rem;
    padding: 0.25em 0.65em 0.15em;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
}

.status-label.conflicts {
    /* background: #f7e990;
    color: #706a3f; */
    background: #f9aeae;
    color: #640303;
}

.status-label.in-progress {
    background: #d9f6de;
    color: #2c6c37;
}

.status-label.not-started {
    background: #e7ecef;
    color: #63697e;
}

.status-label.complete {
    background: #bcddfa;
    color: #10548f;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after {
    position: absolute;
    right: 0.5em;
    top: 50%;
}

/* Home Page */
main.home-page.container {
    padding: 0;
}

main.home-page.container h1 {
    border: none;
}

.hero-section {
    padding: 1em;
}

.hero-section p {
    font-weight: 400;
    font-size: 1.2em;
    color: #5c728e;
}

.hero-illustration {
    display: none;
}

.hero-section .hero-buttons button {
    margin-right: 0.5em;
}

.app-screenshots .container {
    padding: 0;
    margin: 0 0 2em 0;
    max-width: 100%;
    border-bottom: 1px solid #d8d8d8;
}

.app-screenshots .description {
    padding: 2em;
}

.app-screenshots .description p {
    font-weight: 400;
    font-size: 1.2em;
    color: #5c728e;
}

.app-screenshots .description h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
}

.right {
    float: right;
}

img {
    max-width: 100%;
}

.get-involved {
    background-color: #f6fbfe;
    padding: 1em;
}

.get-involved-container {
    background: none;
}

.get-involved-container h2 {
    margin: 0 0 1em 0;
    text-align: center;
    font-weight: bold;
}

.get-involved .resources {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    column-gap: 3%;
}

.get-involved .resources article {
    background: white;
    padding: 2em 1em;
    margin-bottom: 1em;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
}

.get-involved .resources img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.get-involved .resources a {
    color: black;
    margin-top: 1em;
    display: block;
    font-size: 1.1em;
    line-height: 1.2;
}

@media (min-width: 700px) {
    nav.navbar {
        padding: 0.5rem 3rem;
    }

    main.container,
    .test-run-container,
    .hero-section,
    .get-involved {
        padding: 3rem;
    }

    .get-involved .resources {
        grid-template-columns: 32.5% 32.5% 32.5%;
        column-gap: 1.25%;
    }
}

@media (min-width: 800px) {
    .app-screenshots .description,
    .app-screenshots .screenshot {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    .hero-section {
        padding: 5rem;
    }

    .app-screenshots {
        margin-top: 3em;
        padding-top: 3em;
    }
    .app-screenshots .container {
        margin-bottom: 5em;
    }

    .app-screenshots .container .screenshot {
        display: inline-block;
    }

    .app-screenshots .container img {
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    nav.navbar {
        padding: 0.5rem 5rem;
    }

    main.container,
    .test-run-container,
    .get-involved {
        padding: 5rem;
    }

    .get-involved-container h2 {
        font-size: 1.75em;
    }

    .get-involved .resources {
        grid-template-columns: 19% 19% 19% 19% 19%;
        column-gap: 1.25%;
    }
    .app-screenshots .container {
        border: none;
    }
    .app-screenshots .description {
        padding: 5em 2em 2em 5em;
    }
}

@media (min-width: 1325px) {
    .hero-section {
        padding: 0 5rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .hero-copy {
        padding: 5rem 0;
    }

    .hero-illustration {
        display: block;
        align-self: end;
    }

    .app-screenshots .description {
        padding-left: 10em;
    }
}
.signed-in {
    padding-left: 0.75em;
    border-left: 2px solid #d2d5d9;
}
