table.conflicts {
  margin-bottom: 2rem;

  th,
  td {
    text-align: left;
    padding: 0.75rem;
  }
}

.metadata-list {
  list-style-type: none;
  margin-bottom: 2rem;
  background-color: var(--bg-lighter-gray);
  border: 1px solid var(--border-gray);
  border-radius: var(--4px);
  padding: 1rem;

  .metadata-item {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    .metadata-label {
      font-weight: bold;
      margin-right: 0.5rem;
      min-width: 200px;
    }
  }
}

.conflicts-count {
  font-size: var(--18px);
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--bg-lighter-gray);
  border: 1px solid var(--border-gray);
  border-radius: var(--4px);
  padding: 0.5rem 1rem;
  display: inline-block;
}

.conflicts-actions-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  max-width: 50%;
  transition: max-width 0.5s ease;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
  }

  @media (max-width: 1024px) {
    max-width: 70%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.action-button {
  width: 100%;
  margin: 0;
}

/* Issues */

.conflict-issue-container {
  background-color: var(--bg-lighter-gray);
  border: 2px solid var(--border-gray);
  border-radius: var(--4px);
  padding: 1rem;
  margin: 1rem 0;
}

.conflict-issue-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.conflict-issue-header {
  margin: 0 0 0 0.5rem;
  flex-grow: 1;
}

.conflict-issue-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
}

.conflict-issue-value {
  word-break: break-word;
}

a.conflict-issue-link {
  color: var(--font-link);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
