name: Run the tests
on: [push, pull_request]

jobs:
  runtest_task:
    name: Using NodeJS and Postgres 12
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install NodeJS 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - run: yarn --version
      - name: Install PostgreSQL 12
        run: |
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          echo "deb http://apt.postgresql.org/pub/repos/apt/ `lsb_release -cs`-pgdg main" |sudo tee  /etc/apt/sources.list.d/pgdg.list
          sudo apt-get -y update
          sudo apt-get -y install postgresql-12
          sudo apt-get -y install postgresql-client-12
      - name: before_install
        run: |
          sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/12/main/postgresql.conf
          sudo pg_ctlcluster 12 main restart
      - name: before_script
        run: |
          yarn --frozen-lockfile
          npx patch-package
          source config/test.env
          sudo -u postgres createdb ${PGDATABASE}
          echo Created ${PGDATABASE}
          sudo -u postgres psql -c "CREATE ROLE ${PGUSER} WITH LOGIN PASSWORD '${PGPASSWORD}'"
          sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE ${PGDATABASE} to ${PGUSER};"
          yarn sequelize:test db:migrate
          yarn sequelize:test db:seed:all
          yarn workspace server db-import-tests:test -c ${IMPORT_ARIA_AT_TESTS_COMMIT_1}
          yarn workspace server db-import-tests:test
          yarn workspace server db-populate-sample-data:test
      - name: test
        run: yarn test
      - name: lighthouseci
        run: |
          npm install -g @lhci/cli@0.10.0
          yarn workspace client lighthouse
